.searchbar {
    max-width: 1980px;
    margin: 0 auto;
    padding: 3rem 2rem 0 2rem;
}

.searchbar small {
    display: block;
    text-transform: uppercase;
    font-size: 1.225rem;
    margin: 1rem 0 0 0;
}

.input {
    display: flex;
    gap: .5rem;
    padding: 0 0 .25rem 0;
    border-bottom: solid;
}

.input img {
    display: block;
    padding: .5rem;
    flex: 0 0 auto;
}

.input input {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.input input:focus {
    outline: none;
}