.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 2rem;
    background: black;
    border-bottom: 2px solid darkgray;
}

.logo {
    display: block;
}

.logo img {
    display: block;
    width: 125px;
}

.favorites {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.325rem;
    text-decoration: none;
    color: white;
}

.favorites img {
    width: 30px;
}